*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Segoe UI","Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #F3F3F3;
}
header{
    width: 1600px;
    margin: auto;
    background: #fff;
}
header hr{
    opacity: 0.1;
    height: 2px;
    background: #000;
}
header #nav-one{
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
header #nav-one .menu-left{
    display: flex;
    align-items: center;
}
header #nav-one .menu-left .main-nav__logo{
    display: block;
    width: 3.75em;
    height: 1.75em;
    margin-right: 20px;
}
header #nav-one .menu-left ul{
    display: flex;
}
header #nav-one .menu-left ul li{
    margin: 20px;
    list-style: none;
}
header #nav-one .menu-left ul li a{
    text-decoration: none;
    color: #000;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 30px;
}
header #nav-one .menu-right ul{
    display: flex;
}
header #nav-one .menu-right ul li{
    margin: 10px;
    list-style: none;
}
header #nav-one .menu-right ul li a{
    text-decoration: none;
    font-weight: 600;
    line-height: 30px;
}
header #nav-one .menu-right ul #first a{
    color: #0000ff;
    font-weight: 700;
}
header #nav-one .menu-right ul #second a{
    font-size: 0.85rem;
    font-weight: 600;
    color: #000;
}
header #nav-two
{
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}
header #nav-two .menu-two{
    width: 100%;
    margin-left: 25px;
    box-sizing: border-box;
}
header #nav-two .menu-two ul{
    display: flex;
    height: 60px;
    align-items: center;
}
header #nav-two .menu-two ul li{
    list-style: none;
}
.active a{
    color: #ff764d !important;
}
header #nav-two .menu-two ul li a{
    text-decoration: none;
    padding: 19px;
    color: #000;
    font-weight: 600;
    font-size: 14px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 9999;
    opacity: 0.8;
    transition:0.3s cubic-bezier(0.29,0.13,0.27,0.74)
  }
#out-wrapper{
    width: 1600px;
    margin: auto;
    background: #fff;
}
#banner{
    width: 100%;
    height: 700px;
}
#banner .banner-img{
    background-image: url(/Ableton/images/image-1.jpeg) ;
    background-repeat: no-repeat;
    background-position: 50% 50% ;
    margin: auto;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner .banner-img h1{
    margin-bottom: 70px;
    margin-left: 40px;
    font-size:7rem;
    color:rgb(253, 89, 72);
    font-weight: 500;
    font-family:  "Segoe UI","Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#content-text{
    width: 100%;
}
#content-text .content-wrapper{
    width: 50%;
    margin: 50px auto 100px auto;
}  
#content-text .content-wrapper p{
    font-family:  "Segoe UI","Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
} 
#content-text .content-wrapper #first-ct{
    width: 95%;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 40px;
}
#content-text .content-wrapper #first-ct span{
    color: #0000ff;
}
#content-text .content-wrapper #second-ct{
    width: 95%;
    font-size: 1rem;
    line-height: 30px;
}
#images-box{
    width: 100%;
    height: 933px;
    display: flex;
    justify-content: end;
    margin: 133px 0px 133px 0px;
}
#images-box .box-1{
    width: 50%;
    height: 933px;
    background: #fbffa7;
}
#images-box .box-1 .img-box-1{
    background: #fff;
    width: 84%;
    height: 933px;
}
#images-box .box-1 .img-box-1 .img img{
  position: relative;
  top:140px;
  left:140px
}
#images-box .box-2{
    width: 50%;
    height: 933px;
    background: #fbffa7;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
#images-box .box-2 .img-box-2{
    background-image: url(/Ableton/images/image-3.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 533px;
    height: 400px;
}
#content-text-2{
    width: 100%;
}
#content-text-2 .content-wrapper{
    width: 50%;
    margin: 50px auto 100px auto;
}  
#content-text-2 .content-wrapper p{
    font-family:  "Segoe UI","Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
} 
#content-text-2 .content-wrapper #first-ct{
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 40px;
}
#content-text-2 .content-wrapper #second-ct{
    width: 100%;
    font-size: 1rem;
    line-height: 30px;
}
#content-video{
    width: 100%;
    height: 700px;
}
#content-video .wrapper-video{
    width: 50%;
    margin: auto;
}  
#content-video .wrapper-video iframe{
    width:800px;
    height: 450px;
}
#content-video .wrapper-video p{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 14px;
}  
#images-box-2{
    width: 100%;
    height: 1200px;
    margin: 133px 0px 133px 0px;
    display: flex;
}
#images-box-2 .box-1 {
    width: 100%;
    height: 1200px;
    background-color:#b6ffc0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#images-box-2 .box-1 .img-box-1 .mt{
    margin-top: 133.133px;
}
#images-box-2 .box-2{
    width: 100%;
    height: 1200px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color:#fff;
}
#images-box-2 .box-2 .img-box-2{
    background-color:#b6ffc0;
    width: 17%;
    height: 1200px;
}
#images-box-2 .box-2 .img-box-2 .img-2 img{
    position: relative;
    top: 250px;
}
#content-text-3{
    width: 100%;
}
#content-text-3 .content-wrapper{
    width: 50%;
    margin: 50px auto 100px auto;
}  
#content-text-3 .content-wrapper p{
    font-family:  "Segoe UI","Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
} 
#content-text-3 .content-wrapper #first-ct{
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 40px;
}
#content-text-3 .content-wrapper #second-ct{
    width: 100%;
    font-size: 1rem;
    line-height: 30px;
}
#media{
    width: 1333px;
    height: 750px;
    margin: 150px auto 150px auto;
}
#content-text-4{
    width: 100%;
}
#content-text-4 .content-wrapper{
    width: 50%;
    margin: 50px auto 100px auto;
}  
#content-text-4 .content-wrapper p{
    font-family:  "Segoe UI","Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
} 
#content-text-4 .content-wrapper #first-ct{
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 40px;
}
#content-text-4 .content-wrapper #second-ct{
    width: 100%;
    font-size: 1rem;
    line-height: 30px;
    margin-bottom: 20px;
}
#content-text-4 .content-wrapper #thirty-ct{
    width: 100%;
    font-size: 1rem;
    line-height: 30px;
}
#media-2 {
    width: 100%;
    height: 933px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}
#media-2 div{
    width: 1066px;
    height: 933px;
    background:  #d5b3ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#media-2 div .child-1{
    position: relative;
    left: -65px;
}
#media-2 div .child-2{
    position: relative;
    right: -200px;
}
#content-text-5{
    width: 100%;
}
#content-text-5 .content-wrapper{
    width: 50%;
    margin: 50px auto 100px auto;
}  
#content-text-5 .content-wrapper p{
    font-family:  "Segoe UI","Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
} 
#content-text-5 .content-wrapper #first-ct{
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 40px;
}
#content-text-5 .content-wrapper #second-ct{
    width: 100%;
    font-size: 1rem;
    line-height: 30px;
}
#media-job{
    width: 100%;
    height: 667px;
    margin-bottom: 130px;
}
#media-job .wrapper-job{
    width: 85%;
    height: 667px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#media-job .wrapper-job .box-job{
    width: 50%;
    height: 667px;
}
#media-job .wrapper-job .box-job img{
    width: 100%;
    height: 667px;
}
#media-job .wrapper-job .right-bx{
    background: #b1c5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#media-job .wrapper-job .right-bx p{
    width: 400px;
    font-size: 1.5rem;
    line-height: 50px;
    font-weight: 700;
}
#media-job .wrapper-job .right-bx a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: #0000ff;
    margin-top: 20px;
    margin-left: 140px;
    align-self: baseline;
}
#out-wrapper hr{
    opacity: 0.5;
    height: 2px;
}
footer{
    width: 100%;
    height: 830px;
}
footer ul {
    list-style: none;
}
footer a{
    text-decoration: none;
}
footer .foot-wrapper{
    width: 85%;
    margin: auto;
}
footer .foot-wrapper .text-title{
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
}
footer .foot-wrapper .text-title h2{
    font-size: 3.5rem;
    
}
footer .foot-wrapper .row{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
footer .foot-wrapper .row .cards{
    width: 33.33%;
    height: 150px;
}
footer .foot-wrapper .row .cards h3{
    margin-bottom: 10px;
    font-weight: 600;
}
footer .foot-wrapper .row .cards p{
    margin-bottom: 20px;
    line-height: 30px;
}
footer .foot-wrapper .row .cards ul li{
    margin: 0px 0px 7px 0px;
}
footer .foot-wrapper .row .cards ul li a{
    font-family: futura-pt,Avenir,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    color: #000;
    font-weight: 400;
    opacity: 0.8;
}
footer .foot-wrapper .row .cards .main-footer__social{
    display: flex;
}
footer .foot-wrapper .row .cards .main-footer__social li{
    margin:10px 10px 10px 0px;
}
footer .foot-wrapper .row .cards .main-footer__social li .main-footer__social-button--facebook{
    background: #3477F2;
    display: block;
    width: 40px;
    height: 40px;
}
footer .foot-wrapper .row .cards .main-footer__social li .main-footer__social-button--twitter{
    background: #1DA1F2;
    display: block;
    width: 40px;
    height: 40px;
}
footer .foot-wrapper .row .cards .main-footer__social li .main-footer__social-button--youtube{
    background: #FF001D;
    display: block;
    width: 40px;
    height: 40px;
}
footer .foot-wrapper .row .cards .main-footer__social li .main-footer__social-button--instagram{
    background: #F77737;
    display: block;
    width: 40px;
    height: 40px;
}
footer .foot-wrapper .row .cards input[type="email"]{
    font-family: futura-pt,Avenir,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: inherit;
    width: 75%;
    margin: 0;
    padding: 0.4em 0.75em;
    background: transparent;
    background-color: #eee;
    border: 0;
    user-select: none;
    font-weight: normal;
    border-radius: 0;
}
footer .foot-wrapper .row .cards .btn{
    display: inline-block;
    margin: 0;
    padding: 0.35em 1.5em;
    font-family: futura-pt,Avenir,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: inherit;
    color: #fff!important;
    background: blue;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
footer .foot-wrapper .row .cards select{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    display: inline-block;
    margin: 0;
    font-family: futura-pt,Avenir,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    width: 30%;
    background: transparent;
    background-color: #eee;
    border: 0;
    height: 1.875rem;
    padding: 0.35em 50px 0.35em 0.75em;
    cursor: pointer;
    color: #000;
}
footer .foot-wrapper .row .card-left{
    width: 50%;
    font-size: 14px;
}
footer .foot-wrapper .row .card-left ul{
    display: flex;
    align-items: center;
}
footer .foot-wrapper .row .card-left ul li{
    margin-right: 10px;
}
footer .foot-wrapper .row .card-left ul li a{
    color: #000;
    opacity: 0.8;
    font-weight: 600
}
footer .foot-wrapper .row .cards ul li .has-arrow::after{
    content: "\00a0›";
}
footer .foot-wrapper .row .card-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 14px;
}
footer .foot-wrapper .row .card-right h4{
    margin-right: 20px;
    font-weight: 500;
    font-size: 14px;
    opacity: 0.8;
}